
<div>
	<table>
		<tr class="top-buffer">
			<td><input ng-model="b11.values[0].value" ng-change="valueChanged()"
				class="{{b11.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b11.values[1].value" ng-change="valueChanged()"
				class="{{b11.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b11.values[2].value" ng-change="valueChanged()"
				class="{{b11.values[2].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b12.values[0].value" ng-change="valueChanged()"
				class="{{b12.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b12.values[1].value" ng-change="valueChanged()"
				class="{{b12.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b12.values[2].value" ng-change="valueChanged()"
				class="{{b12.values[2].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b13.values[0].value" ng-change="valueChanged()"
				class="{{b13.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b13.values[1].value" ng-change="valueChanged()"
				class="{{b13.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b13.values[2].value" ng-change="valueChanged()"
				class="{{b13.values[2].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
		<tr>
			<td><input ng-model="b11.values[3].value" ng-change="valueChanged()"
				class="{{b11.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b11.values[4].value" ng-change="valueChanged()"
				class="{{b11.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b11.values[5].value" ng-change="valueChanged()"
				class="{{b11.values[5].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b12.values[3].value" ng-change="valueChanged()"
				class="{{b12.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b12.values[4].value" ng-change="valueChanged()"
				class="{{b12.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b12.values[5].value" ng-change="valueChanged()"
				class="{{b12.values[5].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b13.values[3].value" ng-change="valueChanged()"
				class="{{b13.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b13.values[4].value" ng-change="valueChanged()"
				class="{{b13.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b13.values[5].value" ng-change="valueChanged()"
				class="{{b13.values[5].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
		<tr>
			<td><input ng-model="b11.values[6].value" ng-change="valueChanged()"
				class="{{b11.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b11.values[7].value" ng-change="valueChanged()"
				class="{{b11.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b11.values[8].value" ng-change="valueChanged()"
				class="{{b11.values[8].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b12.values[6].value" ng-change="valueChanged()"
				class="{{b12.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b12.values[7].value" ng-change="valueChanged()"
				class="{{b12.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b12.values[8].value" ng-change="valueChanged()"
				class="{{b12.values[8].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b13.values[6].value" ng-change="valueChanged()"
				class="{{b13.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b13.values[7].value" ng-change="valueChanged()"
				class="{{b13.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b13.values[8].value" ng-change="valueChanged()"
				class="{{b13.values[8].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
	</table>
	<table class="top-buffer">
		<tr class="top-buffer">
			<td><input ng-model="b21.values[0].value" ng-change="valueChanged()"
				class="{{b21.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b21.values[1].value" ng-change="valueChanged()"
				class="{{b21.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b21.values[2].value" ng-change="valueChanged()"
				class="{{b21.values[2].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b22.values[0].value" ng-change="valueChanged()"
				class="{{b22.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b22.values[1].value" ng-change="valueChanged()"
				class="{{b22.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b22.values[2].value" ng-change="valueChanged()"
				class="{{b22.values[2].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b23.values[0].value" ng-change="valueChanged()"
				class="{{b23.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b23.values[1].value" ng-change="valueChanged()"
				class="{{b23.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b23.values[2].value" ng-change="valueChanged()"
				class="{{b23.values[2].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
		<tr>
			<td><input ng-model="b21.values[3].value" ng-change="valueChanged()"
				class="{{b21.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b21.values[4].value" ng-change="valueChanged()"
				class="{{b21.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b21.values[5].value" ng-change="valueChanged()"
				class="{{b21.values[5].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b22.values[3].value" ng-change="valueChanged()"
				class="{{b22.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b22.values[4].value" ng-change="valueChanged()"
				class="{{b22.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b22.values[5].value" ng-change="valueChanged()"
				class="{{b22.values[5].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b23.values[3].value" ng-change="valueChanged()"
				class="{{b23.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b23.values[4].value" ng-change="valueChanged()"
				class="{{b23.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b23.values[5].value" ng-change="valueChanged()"
				class="{{b23.values[5].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
		<tr>
			<td><input ng-model="b21.values[6].value" ng-change="valueChanged()"
				class="{{b21.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b21.values[7].value" ng-change="valueChanged()"
				class="{{b21.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b21.values[8].value" ng-change="valueChanged()"
				class="{{b21.values[8].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b22.values[6].value" ng-change="valueChanged()"
				class="{{b22.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b22.values[7].value" ng-change="valueChanged()"
				class="{{b22.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b22.values[8].value" ng-change="valueChanged()"
				class="{{b22.values[8].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b23.values[6].value" ng-change="valueChanged()"
				class="{{b23.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b23.values[7].value" ng-change="valueChanged()"
				class="{{b23.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b23.values[8].value" ng-change="valueChanged()"
				class="{{b23.values[8].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
	</table>
	<table class="top-buffer">
		<tr class="top-buffer">
			<td><input ng-model="b31.values[0].value" ng-change="valueChanged()"
				class="{{b31.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b31.values[1].value" ng-change="valueChanged()"
				class="{{b31.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b31.values[2].value" ng-change="valueChanged()"
				class="{{b31.values[2].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b32.values[0].value" ng-change="valueChanged()"
				class="{{b32.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b32.values[1].value" ng-change="valueChanged()"
				class="{{b32.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b32.values[2].value" ng-change="valueChanged()"
				class="{{b32.values[2].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b33.values[0].value" ng-change="valueChanged()"
				class="{{b33.values[0].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b33.values[1].value" ng-change="valueChanged()"
				class="{{b33.values[1].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b33.values[2].value" ng-change="valueChanged()"
				class="{{b33.values[2].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
		<tr>
			<td><input ng-model="b31.values[3].value" ng-change="valueChanged()"
				class="{{b31.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b31.values[4].value" ng-change="valueChanged()"
				class="{{b31.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b31.values[5].value" ng-change="valueChanged()"
				class="{{b31.values[5].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b32.values[3].value" ng-change="valueChanged()"
				class="{{b32.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b32.values[4].value" ng-change="valueChanged()"
				class="{{b32.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b32.values[5].value" ng-change="valueChanged()"
				class="{{b32.values[5].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b33.values[3].value" ng-change="valueChanged()"
				class="{{b33.values[3].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b33.values[4].value" ng-change="valueChanged()"
				class="{{b33.values[4].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b33.values[5].value" ng-change="valueChanged()"
				class="{{b33.values[5].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
		<tr>
			<td><input ng-model="b31.values[6].value" ng-change="valueChanged()"
				class="{{b31.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b31.values[7].value" ng-change="valueChanged()"
				class="{{b31.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b31.values[8].value" ng-change="valueChanged()"
				class="{{b31.values[8].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b32.values[6].value" ng-change="valueChanged()"
				class="{{b32.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b32.values[7].value" ng-change="valueChanged()"
				class="{{b32.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b32.values[8].value" ng-change="valueChanged()"
				class="{{b32.values[8].class}}" type="text" pattern="[0-9]*"></td>
			<td>&nbsp;</td>
			<td><input ng-model="b33.values[6].value" ng-change="valueChanged()"
				class="{{b33.values[6].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b33.values[7].value" ng-change="valueChanged()"
				class="{{b33.values[7].class}}" type="text" pattern="[0-9]*"></td>
			<td><input ng-model="b33.values[8].value" ng-change="valueChanged()"
				class="{{b33.values[8].class}}" type="text" pattern="[0-9]*"></td>
		</tr>
	</table>
</div>
<div class="top-buffer"></div>
	<uib-progressbar max="81" value="solved"><span style="color:white; white-space:nowrap;">{{solved}} / 81</span></uib-progressbar>
<button type="button" class="btn btn-default" ng-click="solveSudoku()">
  Solve
</button>
